<div class="actualite" data-actualite-id="" data-actualite-date="" DeleteListener="0" EditListener="0">
  <div class="actualite-content">
    <div class="actualite-section" id="date-lien">
      <p id="date"></p>
      <a href="#" target="_blank" id="lien"></a>
    </div>
    <div class="actualite-section" id="description">
      <p></p>
      <p class="auteur"></p>
    </div>
    <div class="actualite-section" id="categorie">
      <span class="tag"></span>
    </div>
  </div>
  <div class="actualite-footer">
      <span class="modiffollowme jam jam-pencil"></span>
      <span class="supprfollowme jam jam-trash"></span>
  </div>
</div>